<div class="hero-conteiner">
    <nav>
        <div class="hero-title" routerLink="/notepad">{{acountUser}} Notes</div>
        <div class="options">
            <div class="create-note" routerLink="/create-note">Create Note</div>
            <div class="logout" (click)="endSession()" >Log out</div>
        </div>
    </nav>
    <div class="hero-body-note">
        <div class="note-body" (click)="openNote(note.id)" *ngFor="let note of getNotes">
            <div class="note-title"># {{note.message}}</div>
        </div>
    </div>
</div>
